html{
    font-size: 10px;
}
*{
    margin:0;
    padding:0;
}
header{
   
    height:10vh;
    width:99.8vw;
    display:flex;
    position:sticky;
    border:1px solid black;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}
#brand{
    
    display:flex;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}
.navigation{
    height:10vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    right:0;
    list-style: none;
    font-size: 2rem;
    width:33vw;
}

.navigation li{
    /* border:1px solid black; */
    box-sizing: border-box;
    height: 10vh;
    display:flex;
    align-items: center;
    margin-right: 2.2vw;
}
#brand a{
    text-decoration: none;
    color: rgb(147, 87, 202);
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation a:hover{
    color: aqua;
}
.navigation li:hover{
    color:aqua;
    border-bottom: 5px solid;
    border-bottom-color:orange ;
}
/* typewriter section */
.typewriter{
        background-color:#9df14d;
        display: flex;
        align-items: center;
        height: 50vh;
        justify-content: space-around;
        font-size: 3rem;
        color: rgb(14, 64, 173);
  }
  section a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(99, 69, 231);
  }
  .text{
    animation-name: fade;
    animation-duration: 120S;
    animation-iteration-count: 60;
  }
  @keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
  }
/* ends here */
/* footer styling */
.f_box{
    position: relative;
    z-index: 20;
    height:30vh;
    width:100%;
    border:1px solid black;
    color:blanchedalmond;
    background-color: #2b7de9;
    display:flex;
    align-items: center;
    
}
.img{
    height:7vh;
    width:100px;
    display: flex;
    margin-left: 30px;    
    }
.name{
    font-size: 20px;
    margin-left:2vw;
}
.border{
    width:8px;
    height:7vh;
    border-right:3px solid rgb(230, 222, 222);
}
.infofooter{
    opacity: 100%;
    margin-left: 10px;
    font-size: 2rem;
}
.symbol img{
    height:3vh;
    width:20px;
    margin-left: 30px;
    cursor:pointer;
}
/* footer styling ends here */
