html{
    font-size: 10px;
}
*{
    margin:0;
    padding:0;
}
header{
   
    height:10vh;
    width:99.8vw;
    display:flex;
    position:sticky;
    border:1px solid black;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}
#brand{
    
    display:flex;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}
.navigation{
    height:10vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    right:0;
    list-style: none;
    font-size: 2rem;
    width:33vw;
}

.navigation li{
    
    box-sizing: border-box;
    height: 10vh;
    display:flex;
    align-items: center;
    margin-right: 2.2vw;
}
#brand a{
    text-decoration: none;
    color: rgb(147, 87, 202);
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation a:hover{
    color: aqua;
}
.navigation li:hover{
    color:aqua;
    border-bottom: 5px solid;
    border-bottom-color:orange ;
}
/* typewriter section */
section {
        background-color:#7eebc6;
        display: flex;
        align-items: center;
        height: 30vh;
        justify-content: space-around;
        font-size: 3rem;
        color: rgb(73, 102, 134);
  }
  section a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
/* ends here */
